html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}
#laoTuBackground {

    background-image: url("../images/laotu/back1.jpeg");
    width: 1080px;
    height: 720px;
    background-repeat: no-repeat;
    background-size: 1080px 720px;
    margin: 0 auto;
    perspective: 500px;
}
#box{
    width: 340px;
    height: 250px;
    position: absolute;
    left: 150px;
    bottom: 150px;

}

/*文本框*/
#introductionText{
    width: 300px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.7);
    /*position: absolute;*/
    /*left: 150px;*/
    /*bottom: 200px;*/
    /* 设置边框局和行间距 */
    padding: 20px; line-height: 1.5;
    outline: none;
    font-size: 30px;
    font-family: 华文楷体, sans-serif;
    border: rgba(255, 255, 255, 0);
    resize: none;
    overflow: hidden;
    border-radius: 20px;
    /*起初不可见*/
    visibility: hidden
}
#enterBut{
    border-radius: 10px;
    margin-left: 95px;
    background-color: lightgoldenrodyellow;
    border: 0;
    width: 150px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    font-family: 宋体, sans-serif;
    /*起初不可见*/
    visibility: hidden
}

/*fox图标*/
#fox{
    /*width: 120px;*/
    /*height: 150px;*/
    width: 0px;
    height: 0px;
    position: absolute;
    left: 80px;
    top:560px;
    transition: all 1s;
    transition-delay: 200ms;
}
#fox:hover{
    transform: rotate3d(1,1,2,360deg);
}

move{
    rotate3d(1,1,0,180deg);
}