#firstBackground {
    background-image: url("../images/firstPage/back2.jpg");
}
/* 标题盒子 */
#fontBox {
    width: 800px;
    height: 200px;
    /*background-color: #3E3734;*/
    position: absolute;
    margin: 60px 140px;
}
.title{
    font-weight: 900;
    color: #3E3734;
    font-size: 60px;
    font-family: '幼圆',sans-serif;
    text-shadow: 5px 5px 1px #6D6473;
}
#wu{
    position: absolute;
        left: 70px;
        bottom: 50px;
    transform: rotate(-30deg);
}
#da{
    position: absolute;
    left: 240px;
    bottom: 110px;
    transform: rotate(-10deg);
}
#tan{
    position: absolute;
    left: 440px;
    bottom: 85px;
    transform: rotate(-5deg);
}
#xian{
    position: absolute;
    left: 620px;
    bottom: 60px;
    transform: rotate(20deg);
}
/* 开始按钮 */
#startBut {
    width: 234px;
    height: 95px;
    position: absolute;
        left: 423px;
        top: 512px;
    opacity: 0.7;
    /* 边框设置 */
    border-radius: 15px;
    /*border: none;*/
    /*box-shadow: 0px 0px 5px 5px #E3BEA0,0px 0px 15px 10px #D6B399;*/
    /* 字体 */
    font-size: 42px;
    font-family: Tahoma,Helvetica,Arial,'宋体',sans-serif;

    border: 1px solid hsl(54, 100%, 20%);
    z-index: 4;
    outline: none;

    box-shadow: inset 0 1px 0 hsl(54, 100%, 50%),
    0 2px 0 hsl(54, 100%, 20%),
    0 3px 0 hsl(54, 100%, 18%),
    0 4px 0 hsl(54, 100%, 16%),
    0 5px 0 hsl(54, 100%, 14%),
    0 6px 0 hsl(54, 100%, 12%),
    0 7px 0 hsl(54, 100%, 10%),
    0 8px 0 hsl(54, 100%, 8%),
    0 9px 0 hsl(54, 100%, 6%);
}

#startBut:active{
    top: 517px;
    box-shadow: inset 0 1px 0 hsl(54, 100%, 50%),
    0 2px 0 hsl(54, 100%, 16%),
    0 3px 0 hsl(54, 100%, 14%),
    0 4px 0 hsl(54, 100%, 12%),
    0 5px 0 hsl(54, 100%, 10%),
    0 6px 0 hsl(54, 100%, 8%),
    0 7px 0 hsl(54, 100%, 6%);
}

/**************** 樱花飘飞 *****************/
.flo {
    height: 70px;
    width: 70px;
    position: absolute;
    top: -70px;
}
.flo:after {
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    content: '';
    display: block;
    width: 70px;
    height: 70px;
}
/* 第一朵 */
#flo1{
    left: 100px;
    animation: a11 7s ease-in infinite;
}
#flo1:after{
    background-image: url("../images/firstPage/flower1.png");
    animation: a12 7s ease-out infinite;
}
@keyframes a11 {
    50%{ transform: translateX(0px); }
    100%{ transform: translateX(360px) }
}
@keyframes a12 {
    50%{ transform: translateY(0px); opacity: 1; }
    70%{ opacity: 1; }
    100%{ transform: translateY(790px) rotate(720deg); opacity: 0; }
}
/* 第二朵 */
#flo2{
    left: 300px;
    animation: a21 8s ease-in infinite;
}
#flo2:after{
    background-image: url("../images/firstPage/flower2.png");
    animation: a22 8s ease-out infinite;
}
@keyframes a21 {
    40%{ transform: translateX(0px); }
    100%{ transform: translateX(-260px) }
}
@keyframes a22 {
    40%{ transform: translateY(0px); opacity: 1; }
    70%{ opacity: 1; }
    100%{ transform: translateY(790px) scale(0.5) rotate(320deg); opacity: 0; }
}
/* 第三朵 */
#flo3{
    left: 700px;
    animation: a31 5s ease-in infinite;
}
#flo3:after{
    background-image: url("../images/firstPage/flower4.png");
    animation: a32 5s ease-out infinite;
}
@keyframes a31 {
    50%{ transform: translateX(0px); }
    100%{ transform: translateX(380px) }
}
@keyframes a32 {
    50%{ transform: translateY(0px); opacity: 1; }
    70%{ opacity: 1; }
    100%{ transform: translateY(590px) rotate(180deg); opacity: 0; }
}
/* 第四朵 */
#flo4{
    left: 600px;
    animation: a41 5s ease-in infinite;
}
#flo4:after{
    background-image: url("../images/firstPage/flower1.png");
    animation: a42 5s ease-out infinite;
}
@keyframes a41 {
    20%{ transform: translateX(0px); }
    100%{ transform: translateX(-360px) }
}
@keyframes a42 {
    20%{ transform: translateY(0px); opacity: 1; }
    70%{ opacity: 1; }
    100%{ transform: translateY(790px) rotate(360deg); opacity: 0; }
}
/* 第四朵 */
#flo5{
    top: 500px;
    left: 0px;
    animation: a51 15s ease-in infinite;
}
#flo5:after{
    background-image: url("../images/firstPage/flower1.png");
    animation: a52 15s ease-out infinite;
}
@keyframes a51 {
    40%{ transform: translateX(0px);}
    100%{ transform: translateX(890px) }
}
@keyframes a52 {
    40%{ transform: translateY(0px); opacity: 0.2; }
    70%{ opacity: 1; }
    100%{ transform: translateY(90px) scale(0.8) rotate(720deg); opacity: 0; }
}
